*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: #fff url('../img/fondo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
}
body .col .card{
    background: rgba(128, 128, 128, .5);
}
body .col .card .card-title{
    text-align: center;
}
body .col .card .card-title img{
    width: 80%;
}
body .col .card .card-content form .input-field label,input[type='text'],input[type='password']{
    color: white;
    font-weight: 400;
}
body .col .card .card-content form .input-field{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
body .col .card .card-content form .input-field .containerBtn{
    text-align: center;
    width: 100%;
}
body .col .card .card-content form .input-field input[type='button']{
    color: white;
    font-weight: 400;
    background: #CC0000;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    width: 70%;
    margin-top: 10px;
    outline: 0;
    transition: .3s;
}
body .col .card .card-content form .input-field input[type='button']:active{
    transform: scale(.9);
}
.pantallaCarga{
    display: none;
}
.pantallaCarga.active{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.pantallaCarga.active .logo{
    width: 70%;
    /* height: 50px; */
    animation-name: carga;
    animation-duration: 4s;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    /* animation-direction: alternate; */
    animation-timing-function: ease-in-out;
    transform-origin:center center;
}


@keyframes carga{
    0%{  
        opacity: 0;
    }
    
    20%{  
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
}

